@font-face {
    font-family: h1;
    src: url(./BebasNeue-Regular.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.box{
    display: inline-block;
    width: 300px;
    align-items: center;
    justify-items: center;
   
}
#word{
    font-family: h1;
    text-align: center;
}
p{ 
    font-size: 50px;
    font-weight: 50;
    color: rgb(15, 255, 15);

}